/****** 
reset 
******/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Segoe UI", sans-serif;
}

a {

    text-decoration: none;
}

/****** 
About us
******/

/****** 
Home page 
******/

/****** 
Posts list 
******/
.posts-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 1rem 0;
}